* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(172, 70, 161);
  background: linear-gradient(
    185deg,
    rgba(172, 70, 161, 1) 0%,
    rgba(100, 17, 173, 1) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  color: white;
}
